{% from 'bootstrap5/form.html' import render_form %}
{% include 'header.html' %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{url_for('static',filename='assets/img/contact-bg.jpg')}})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            {% if logged_in %}
                                <h1>you are already logged in.</h1>
                                <span class="subheading"></span>
                            {% else %}
                            <h1>Sign Up</h1>
                            <span class="subheading">Sign Up to start posting and getting access to other features.</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h3>Sign Up!</h3>
                        <div class="my-5">
<!--                            <form action="{{ url_for('signup') }}" method="post" novalidate>-->
<!--                                {{ form.first_name.label }} {{ form.first_name }}-->

<!--                                {{ form.submit }}-->
<!--                            </form>-->
                            {% for message in get_flashed_messages() %}
                                {% if message %}
                                    <p class="red">{{message}}</p>
                                {% endif %}
                            {% endfor %}
                            {{ render_form(form, novalidate=true) }}
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
{% include 'footer.html' %}
